﻿@{ ViewData["Title"] = "Register"; }
@model DeliverIT.Services.DTOs.RegisterCustomerDTO

<h2>Register</h2>

<form asp-action="Register">
    <div>
        <label asp-for="FirstName" class="form-label"></label>
        <br />
        <input asp-for="FirstName" class="form-input" />
        <span asp-validation-for="FirstName" class="form-error"></span>
    </div>
    <div>
        <label asp-for="LastName" class="form-label"></label>
        <br />
        <input asp-for="LastName" class="form-input" />
        <span asp-validation-for="LastName" class="form-error"></span>
    </div>
    <div>
        <label asp-for="Email" class="form-label"></label>
        <br />
        <input asp-for="Email"  class="form-input" />
        <span asp-validation-for="Email" class="form-error"></span>
    </div>
    <div>
        <label asp-for="StreetName" class="form-label"></label>
        <br />
        <input asp-for="StreetName" class="form-input" />
        <span asp-validation-for="StreetName" class="form-error"></span>
    </div>
    <div>
        <label asp-for="City" class="form-label"></label>
        <br />
        <input asp-for="City"  class="form-input" />
        <span asp-validation-for="City" class="form-error"></span>
    </div>
    <div>
        <label asp-for="Country" class="form-label"></label>
        <br />
        <input asp-for="Country" class="form-input" />
        <span asp-validation-for="Country" class="form-error"></span>
    </div>
    <div>
        <input type="submit" value="Register" class="btn-primary" />
        | <a asp-action="Login" class="nav">Login</a>
    </div>
</form>