﻿@{
    ViewData["Title"] = "Create City";
    ViewData["Action"] = "Create";
    ViewData["ButtonValue"] = "Create";
}

@model DeliverIT.Services.DTOs.CitiesDTO

<h2>Create City</h2>

<partial name="_CityForm.cshtml" />