﻿@{ ViewData["Title"] = "Cities Details"; }
@model DeliverIT.Web.Models.CityViewModel

<h2>@this.Model.Id Details</h2>

<div>
    <ul>
        <li class="margin12">Departure: @this.Model.City</li>
        <li class="margin12">Arrival: @this.Model.Country</li>
    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="nav">Edit</a>
    | <a asp-action="Index" class="nav">Back</a>
</div>