﻿@{ ViewData["Title"] = "All Cities"; }
@model IEnumerable<DeliverIT.Data.Models.City>

<h2>All Cities</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table">
    <div class="header">
        <div class="header-cell">City</div>
        <div class="header-cell">Country</div>
    </div>

    @{
        foreach(var city in this.Model)
        {
        <div class="row">
            <div class="cell">@city.Name</div>
            <div class="cell">@city.Country.Name</div>
            <div class="cell">
                <a asp-action="Details" asp-route-id="@city.Id" class="nav">Details</a>
            </div>
        </div>
        }
    }
</div>