﻿@{
    ViewData["Title"] = "Create Parcel";
    ViewData["Action"] = "Create";
    ViewData["ButtonValue"] = "Create";
}

@model DeliverIT.Web.Models.ParcelViewModel

<h2>Create Shipment</h2>

<partial name="_ParcelForm.cshtml" />