﻿@{ ViewData["Title"] = "Delete Parcel"; }
@model DeliverIT.Data.Models.Parcel

<h2>Delete @this.Model.Id</h2>

<div>
    <h3>Are you sure you want to delete @this.Model.Id?</h3>
    <ul>
        <li class="margin12">Category Name: @this.Model.Category.Name</li>
        <li class="margin12">Weight: @this.Model.Weight</li>
        <li class="margin12">Origin Warehouse: @this.Model.Shipment.OriginWarehouse.Name</li>
        <li class="margin12">Destination Warehouse: @this.Model.Shipment.DestinationWarehouse.Name</li>
    </ul>
</div>

<form asp-action="Delete">
    <input type="submit" value="Delete" class="btn-danger" />
    | <a asp-action="Index" class="nav">Back</a>
</form>