﻿@{ ViewData["Title"] = "Parcel Details"; }
@model DeliverIT.Data.Models.Parcel

<h2>@this.Model.Id Details</h2>

<div>
    <ul>
        <li class="margin12">Category Name: @this.Model.Category.Name</li>
        <li class="margin12">Weight: @this.Model.Weight</li>
        <li class="margin12">Origin Warehouse: @this.Model.Shipment.OriginWarehouse.Name</li>
        <li class="margin12">Destination Warehouse: @this.Model.Shipment.DestinationWarehouse.Name</li>
    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="nav">Edit</a>
    | <a asp-action="Index" class="nav">Back</a>
</div>