﻿@{
    ViewData["Title"] = "Edit Parcel";
    ViewData["Action"] = "Edit";
    ViewData["ButtonValue"] = "Save";
}

@model DeliverIT.Web.Models.ParcelViewModel

<h2>Edit @this.Model</h2>

<partial name="_ParcelForm.cshtml" />