﻿@{ ViewData["Title"] = "All Parcels"; }
@model IEnumerable<DeliverIT.Data.Models.Parcel>

<h2>All Parcels</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table">
    <div class="header">
        <div class="header-cell">Category</div>
        <div class="header-cell">Weight</div>
        <div class="header-cell">OriginWarehouse</div>
        <div class="header-cell">DestinationWarehouse</div>
    </div>

    @{
        foreach(var parcel in this.Model)
        {
            <div class="row">
                <div class="cell">@parcel.Category.Name</div>
                <div class="cell">@parcel.Weight</div>
                <div class="cell">@parcel.Shipment.OriginWarehouse.Name</div>
                <div class="cell">@parcel.Shipment.DestinationWarehouse.Name</div>
                <div class="cell">
                    <a asp-action="Details" asp-route-id="@parcel.Id" class="nav">Details</a>
                    | <a asp-action="Edit" asp-route-id="@parcel.Id" class="nav">Edit</a>
                    | <a asp-action="Delete" asp-route-id="@parcel.Id" class="nav">Delete</a>
                </div>
            </div>
        }
    }
</div>