﻿@model DeliverIT.Web.Models.ShipmentViewModel

<form asp-action="@ViewData["Action"]">
    <div>
        <label asp-for="Departure" class="form-label"></label>
        <br />
        <input asp-for="Departure" class="form-input" />
        <span asp-validation-for="Departure" class="form-error"></span>
    </div>
    <div>
        <label asp-for="Arrival" class="form-label"></label>
        <br />
        <input asp-for="Arrival" class="form-input" />
        <span asp-validation-for="Arrival" class="form-error"></span>
    </div>
    <div>
        <label asp-for="Status" class="form-label"></label>
        <br />
        <input asp-for="Status" class="form-input" />
        <span asp-validation-for="Status" class="form-error"></span>
    </div>
    <div>
        <label asp-for="OriginWarehouse" class="form-label"></label>
        <br />
        <input asp-for="OriginWarehouse" class="form-input" />
        <span asp-validation-for="OriginWarehouse" class="form-error"></span>
    </div>
    <div>
        <label asp-for="DestinationWarehouse" class="form-label"></label>
        <br />
        <input asp-for="DestinationWarehouse" class="form-input" />
        <span asp-validation-for="DestinationWarehouse" class="form-error"></span>
    </div>
    <div>
        <input type="submit" value="@ViewData["ButtonValue"]" class="btn-primary" />
        | <a asp-action="Index" class="nav">Back</a>
    </div>
</form>