﻿@{
    ViewData["Title"] = "Create Shipmet";
    ViewData["Action"] = "Create";
    ViewData["ButtonValue"] = "Create";
}

@model DeliverIT.Web.Models.ShipmentViewModel

<h2>Create Shipment</h2>

<partial name="_ShipmentCreateForm.cshtml" />