﻿@{ ViewData["Title"] = "Delete Shipment"; }
@model DeliverIT.Data.Models.Shipment

<h2>Delete @this.Model.Id</h2>

<div>
    <h3>Are you sure you want to delete @this.Model.Id?</h3>
    <ul>
        <li class="margin12">Departure: @this.Model.Departure</li>
        <li class="margin12">Arrival: @this.Model.Arrival</li>
        <li class="margin12">Status: @this.Model.Status</li>
        <li class="margin12">Origin Warehouse: @this.Model.OriginWarehouse.Name</li>
        <li class="margin12">Destination Warehouse: @this.Model.DestinationWarehouse.Name</li>
    </ul>
</div>

<form asp-action="Delete">
    <input type="submit" value="Delete" class="btn-danger" />
    | <a asp-action="Index" class="nav">Back</a>
</form>