﻿@{ ViewData["Title"] = "Shipment Details"; }
@model DeliverIT.Data.Models.Shipment

<h2>@this.Model.Id Details</h2>

<div>
    <ul>
        <li class="margin12">Departure: @this.Model.Departure</li>
        <li class="margin12">Arrival: @this.Model.Arrival</li>
        <li class="margin12">Status: @this.Model.Status</li>
        <li class="margin12">Origin Warehouse: @this.Model.OriginWarehouse.Name</li>
        <li class="margin12">Destination Warehouse: @this.Model.DestinationWarehouse.Name</li>
    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="nav">Edit</a>
    | <a asp-action="Index" class="nav">Back</a>
</div>