﻿@{
    ViewData["Title"] = "Edit Shipment";
    ViewData["Action"] = "Edit";
    ViewData["ButtonValue"] = "Save";
}

@model DeliverIT.Web.Models.ShipmentViewModel

<h2>Edit @this.Model</h2>

<partial name="_ShipmentEditForm.cshtml" />