﻿@{ ViewData["Title"] = "All Shipment"; }
@model IEnumerable<DeliverIT.Data.Models.Shipment>

<h2>All Shipments</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table">
    <div class="header">
        <div class="header-cell">Departure</div>
        <div class="header-cell">Arrival</div>
        <div class="header-cell">Status</div>
        <div class="header-cell">OriginWarehouse</div>
        <div class="header-cell">DestinationWarehouse</div>
    </div>

    @{
        foreach(var shipment in this.Model)
        {
        <div class="row">
            <div class="cell">@shipment.Departure</div>
            <div class="cell">@shipment.Arrival</div>
            <div class="cell">@shipment.Status</div>
            <div class="cell">@shipment.OriginWarehouse.Name</div>
            <div class="cell">@shipment.DestinationWarehouse.Name</div>
            <div class="cell">
                <a asp-action="Details" asp-route-id="@shipment.Id" class="nav">Details</a>
                | <a asp-action="Edit" asp-route-id="@shipment.Id" class="nav">Edit</a>
                | <a asp-action="Delete" asp-route-id="@shipment.Id" class="nav">Delete</a>
            </div>
        </div>
        }
    }
</div>