﻿@model DeliverIT.Services.DTOs.CountriesDTO

<form asp-action="@ViewData["Action"]">   
    <div>
        <label asp-for="Country" class="form-label"></label>
        <br />
        <input asp-for="Country" class="form-input" />
        <span asp-validation-for="Country" class="form-error"></span>
    </div>
    <div>
        <input type="submit" value="@ViewData["ButtonValue"]" class="btn-primary" />
        | <a asp-action="Index" class="nav">Back</a>
    </div>
</form>
