﻿@{
    ViewData["Title"] = "Create Country";
    ViewData["Action"] = "Create";
    ViewData["ButtonValue"] = "Create";
}

@model DeliverIT.Services.DTOs.CountriesDTO

<h2>Create City</h2>

<partial name="_CountryForm.cshtml" />