﻿@{ ViewData["Title"] = "All Country"; }
@model IEnumerable<DeliverIT.Data.Models.Country>

<h2>All Counries</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table">
    <div class="header">
        <div class="header-cell">Country</div>
    </div>

    @{
        foreach(var country in this.Model)
        {
        <div class="row">
            <div class="cell">@country.Name</div>
            <div class="cell">
                <a asp-action="Details" asp-route-id="@country.Id" class="nav">Details</a>
            </div>
        </div>
        }
    }
</div>