﻿@model DeliverIT.Web.Models.WarehouseViewModel

<form asp-action="@ViewData["Action"]">
    <div>
        <label asp-for="Warehouse" class="form-label"></label>
        <br />
        <input asp-for="Warehouse" class="form-input" />
        <span asp-validation-for="Warehouse" class="form-error"></span>
    </div>
    <div>
        <label asp-for="NewWarehouseName" class="form-label"></label>
        <br />
        <input asp-for="NewWarehouseName" class="form-input" />
        <span asp-validation-for="NewWarehouseName" class="form-error"></span>
    </div>  
    <div>
        <input type="submit" value="@ViewData["ButtonValue"]" class="btn-primary" />
        | <a asp-action="Index" class="nav">Back</a>
    </div>
</form>