﻿@model DeliverIT.Web.Models.WarehouseViewModel

<form asp-action="@ViewData["Action"]">
    <div>
        <label asp-for="Warehouse" class="form-label"></label>
        <br />
        <input asp-for="Warehouse" class="form-input" />
        <span asp-validation-for="Warehouse" class="form-error"></span>
    </div>
    <div>
        <label asp-for="StreetName" class="form-label"></label>
        <br />
        <input asp-for="StreetName" class="form-input" />
        <span asp-validation-for="StreetName" class="form-error"></span>
    </div>
    <div>
        <label asp-for="City" class="form-label"></label>
        <br />
        <input asp-for="City" class="form-input" />
        <span asp-validation-for="City" class="form-error"></span>
    </div>
    <div>
        <label asp-for="Country" class="form-label"></label>
        <br />
        <input asp-for="Country" class="form-input" />
        <span asp-validation-for="Country" class="form-error"></span>
    </div>   
    <div>
        <input type="submit" value="@ViewData["ButtonValue"]" class="btn-primary" />
        | <a asp-action="Index" class="nav">Back</a>
    </div>
</form>