﻿@{
    ViewData["Title"] = "Create Warehouse";
    ViewData["Action"] = "Create";
    ViewData["ButtonValue"] = "Create";
}

@model DeliverIT.Web.Models.WarehouseViewModel

<h2>Create Shipment</h2>

<partial name="_WarehouseForm.cshtml" />