﻿@{ ViewData["Title"] = "Warehouse Details"; }
@model DeliverIT.Data.Models.Warehouse

<h2>@this.Model.Id Details</h2>

<div>
    <ul>
        <li class="margin12">Warehouse: @this.Model.Name</li>
        <li class="margin12">StreetName: @this.Model.Address.StreetName</li>
        <li class="margin12">City: @this.Model.Address.City.Name</li>
        <li class="margin12">Country: @this.Model.Address.City.Country.Name</li>
    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="nav">Edit</a>
    | <a asp-action="Index" class="nav">Back</a>
</div>