﻿@{
    ViewData["Title"] = "Edit Warehouse";
    ViewData["Action"] = "Edit";
    ViewData["ButtonValue"] = "Save";
}

@model DeliverIT.Web.Models.WarehouseViewModel

<h2>Edit @this.Model</h2>

<partial name="_WarehouseEditForm.cshtml" />