﻿@{ ViewData["Title"] = "All Warehouses"; }
@model IEnumerable<DeliverIT.Data.Models.Warehouse>

<h2>All Warehouses</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table">
    <div class="header">
        <div class="header-cell">Warehouse</div>
        <div class="header-cell">StreetName</div>
        <div class="header-cell">City</div>
        <div class="header-cell">Country</div>
    </div>

    @{
        foreach(var warehouse in this.Model)
        {
            <div class="row">
                <div class="cell">@warehouse.Name</div>
                <div class="cell">@warehouse.Address.StreetName</div>
                <div class="cell">@warehouse.Address.City.Name</div>
                <div class="cell">@warehouse.Address.City.Country.Name</div>
                <div class="cell">
                    <a asp-action="Details" asp-route-id="@warehouse.Id" class="nav">Details</a>
                    | <a asp-action="Edit" asp-route-id="@warehouse.Id" class="nav">Edit</a>
                </div>
            </div>
        }
    }
</div>