﻿@{ ViewData["Title"] = "About"; }

<h2>About the Deliver Application</h2>

<p>
    Who we are?
</p>
<p>
    For more than 20 years, we have been growing and developing so that we are useful to you. Since its founding in 1993, DeliverIt has
</p>
<p>
    established as an expert in logistics in Bulgaria. Driven by our desire to offer added value, we are constantly providing you and your
</p>
<p>
    business with new and better solutions in the realm of courier, postal and cargo services.
</p>